Source: ros-lyrical-autoware-cmake
Section: misc
Priority: optional
Maintainer: Ryohsuke Mitsudome <ryohsuke.mitsudome@tier4.jp>
Build-Depends: debhelper (>= 9.0.0), ros-lyrical-ament-cmake-auto, ros-lyrical-ament-lint-auto <!nocheck>, ros-lyrical-autoware-lint-common <!nocheck>, ros-lyrical-ros-workspace
Homepage: https://index.ros.org/p/autoware_cmake/#lyrical
Standards-Version: 3.9.2

Package: ros-lyrical-autoware-cmake
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-lyrical-ament-cmake-auto, ros-lyrical-ament-lint-auto, ros-lyrical-ros-environment, ros-lyrical-ros-workspace
Description: CMake scripts for Autoware
